.shop-container {
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/bp-shop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 30px;
  padding-bottom: 2rem;
  gap: 1.875rem;

  .input-box {  
    margin: 1.875rem 0 0 -6.25rem;
    width: 100%;
    display: flex;
    align-items: center;

    .return {      
      margin-left: 12rem;
      display: flex;
      align-items: center;
      width: min-content;   
      color: #868895;   

      a {
        color: #868895;
        text-decoration: none;
        border-bottom: 3px solid transparent;

        transform: all ease 0.8s;

        &:hover {
          border-bottom: 3px solid #B6D8F8;
        }
      }
    }
  }
  
  .products-list {
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 1.625rem;
    justify-content: center;

    .product-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.125rem;

      &:hover {
        transform: scale(1.01);
        p {
          color: #fa9786;
        }
      }

      img {
        width: 380px;
        height: fit-content;
      }

      .product-info {
        padding-left: 0.375rem;
        line-height: 1.25rem;

        .product-name {
          font-size: 1rem;
          font-weight: 400;
          color: #868895;
          text-decoration: none;
        }

        .product-list-price {
          font-size: 0.75rem;
          font-weight: 400;
          text-decoration: line-through;
          color: #BEC0CA;
        }

        .product-price {
          font-size: .875rem;
          font-weight: 700;
          color: #868895;
        }

        .product-installments {
          font-size: .875rem;
          font-weight: 400;
          color: #868895;
        }
      }
    }   
  }
  
  .paginationButtons {
    margin: 0 auto;
    list-style: none;
    display: flex;
    color: #868895;
    gap: 0.6rem;

    a {
      cursor: pointer;
    }    

    .previousButton:hover, .previousButton:focus {
      color: #68b2f7;
    }

    .next:hover, .next:focus {
      color: #fa9786;
    }

    .paginationActive {
      color: #faa555;
    }

    .paginationDisabled {
      color: #BEC0CA;
    }
  }
  
}