.section-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0 1rem 5.875rem;

  main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: -120px;

    .text-content {
      display: flex;
      flex-direction: column;

      p {
        font-size: 64px;
        font-weight: 600;
        line-height: 75px;
        color: #373944;
      }

      .separate-line {
        display: flex;
        align-items: flex-end;

        img {
          margin-left: 40px;
        }
      }

      span {
        font-size: 64px;
        font-weight: 600;
        line-height: 75px;
        color: #FABBB0;
        position: relative;
        
        &::after {
          content: '';
          background: url(../../assets/line.svg);
          width: 90%;
          height: 3px;
          position: absolute;
          right: 5px;
          bottom: 8px;
        }
      }      
    }
  }  
  .input-box {

    padding-left: 50px;
  }
}